@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nprogress/nprogress.css";
/* Hidden nprogress spinner */
#nprogress .spinner{
  display: none;
}
#nprogress .bar {
  background: #ffce4f !important;
  }




/* Custom Scroll bar */

/* width */

body::-webkit-scrollbar {
  width: 15px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #555;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 15px;
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #444;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}


/* Movie Detail scroll bar */
    /* custom Scroll bar */

  .customScrollBar::-webkit-scrollbar {
      width: 4px !important;
  }

  .customScrollBar::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 0px;

  }
  .customScrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  /* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  border: 1px solid #111111;
  -webkit-text-fill-color: #a7a7a7;
  -webkit-box-shadow: 0 0 0px 1000px #111111 inset;
  box-shadow: 0 0 0px 1000px #111111 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #a7a7a7;
  caret-color: #a7a7a7;
}

/* HIDE NUMBER INPUT ARROW */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
